.notes-list-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 25rem;
    width: 50%;
    padding: 1rem;
}

.add-note {
    width: max-content;
    position: fixed;
    bottom: 3rem;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: content-box;
}

@media (max-width: 600px) {
    .notes-list-container {
        width: 90%;
    }
}