<div class="post-form-container">
    <form #postLogin="ngForm" (ngSubmit)="onSubmit(postLogin)">
        <h1>Welcome!</h1>
        <div class="field">
            <label class="label">User name</label>
            <div class="control">
                <input
                    type="text"
                    name="username"
                    [ngModel]="user.username"
                    class="input"
                    required
                >
            </div>  
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input
                    type="{{ showPassword ? 'text' : 'password' }}"
                    class="input"
                    name="password"
                    [ngModel]="user.password"
                    required
                >
                <mat-icon
                    (click)="togglePasswordVisibility()"
                    class="visibility"
                >
                    {{ showPassword ? 'visibility_off' : 'visibility' }}
                </mat-icon>
            </div>
            <div class="text-row">
            <input
                type="checkbox"
                [checked]="remember"
                (click)="toggleUserRemembering()"
            >
            <p>Remember me</p>  
        </div>
        </div>        
        <div class="field post-form-buttons">
            <div class="control">
                <button class="button is-primary" type="submit" [disabled]="!postLogin.valid">Log me in</button>
            </div>
        </div>

    </form>
</div>


