# Ignore node_modules and npm debug logs
node_modules
npm-debug.log

# Ignore development and test files
*.spec.ts
*.map

# Ignore build artifacts and temporary files
/dist
/tmp
/out-tsc

# Ignore IDE and editor specific files
.idea
.vscode
*.sublime*
*.code-workspace
*.swp
*~